p You have been sent a message through NoChat - the world’s most secure expiring messaging service that saves you time.
p Join the NoChat Beta to claim your messages and start feeling secure and saving time today!
p Just reply to this message to email our team and sign up for the NoChat Super Secret Beta Program (NCSSBP).
p Love you,
p The NoChat Dev Team

